* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 10px 10px;
}
	    
a {
  color: #1B1B32;
}

h4, h2, h1 {
  margin: 10px 0px;
}
	    
span {
  font-weight: 500;
}

li {
  list-style-type: none;
}
	    
.wrapper {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #1B1B32;
}
	    
main {
  text-align: left;
}

.contacts {
  margin: 10px 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin: 10px 10px;
  padding: 10px 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
section:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer {
  margin: 10px auto;
}
